	<!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block" style="background-color: #0DA8E4;">
    <div class="logo">
      <a routerLink="/products">
        <img src="assets/images/global/logo.png" alt="luv2shop" class="img-responsive">
      </a>
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list" *ngFor="let category of arrayOfCategories">
          <li>

            <a [routerLink]="['/category', category.id]" routerLinkActive="active-link">{{ category.categoryName }}</a>
          </li>


        </ul>
      </nav>
    </div>
  </aside>
